<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [streetViewControl]="false">
	<agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.long" [iconUrl]="m.iconUrl">
		<agm-info-window>
			<div *ngIf="auth.isAuthenticated(); else loginBlock">
				<button md-button *ngIf="m.state == 'busy'" (click)="clickFree(m)">Libre</button>
				<button md-button *ngIf="m.state == 'free'" (click)="clickBusy(m)">Occupée</button>
			</div>
			<ng-template #loginBlock>
				<button md-button (click)="auth.login()">Se Connecter</button>
			</ng-template>
		</agm-info-window>
	</agm-marker>
</agm-map>