<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [streetViewControl]="false">
	<agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.long" [iconUrl]="m.iconUrl">
		<agm-info-window>
			<div *ngIf="auth.isAuthenticated(); else loginBlock">
				<button md-button class="free-btn" *ngIf="m.state == 'busy'" (click)="clickFree(m)">Libre</button>
				<button md-button class="busy-btn" *ngIf="m.state == 'free'" (click)="clickBusy(m)">Occupé</button>
			</div>
			<ng-template #loginBlock>
				<button md-button class="auth-btn" (click)="auth.login()">Login</button>
			</ng-template>
		</agm-info-window>
	</agm-marker>
</agm-map>

<button class="main-fab" md-fab (click)="clickCenter()"><md-icon>my_location</md-icon></button>