<md-sidenav-container>
  <md-sidenav #sidenav class="sidenav" mode="over">
    <!-- sidenav content -->
    <md-nav-list>
      <a class="menu-item" *ngFor="let menu of menus" routerLink="/{{menu.path}}" routerLinkActive="active" (click)="sidenav.close()">{{menu.name}}</a>
    </md-nav-list>
  </md-sidenav>

  <!-- Toolbar -->
  <md-toolbar>
    <button class="menu-btn" type="button" md-icon-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>

    <span title><a routerLink="">Pikes Park</a></span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Option 1</button>
    <button md-menu-item>Option 2</button>
  </md-menu>

  <!-- primary content -->
  <router-outlet></router-outlet>

  <button class="main-fab" md-fab><md-icon>add</md-icon></button>
</md-sidenav-container>